<div class="container center">
    <section class="container">
        <h1>Welcome#about</h1>
        <p>Find me in app/views/welcome/about.html.erb</p>
    </section>
        <section class="container">
        <button class="social-btn"> <%= link_to "Follow Me", "https://www.github.com/tyrantdavis" %> </button>
        </section>
</div>