<div class="container center text-center">
        <div class="jumbotron">
            <h1>About Roccitt</h1>
            <p>Roccitt is a resource for sharing your passions, links, and comments with your friends!</p>
        <section>
            <button class="social-btn btn-link"> <%= link_to "Follow Me", "https://www.github.com/example.com" %> </button>
        </section>
        </div>


</div>