<br>
<% if !current_user  %>
<%# Hero Content %>
    <div>
        <div class="jumbotron">
            <h1 class="text-center">Roccitt</h1>
            <p class="text-center">Roccitt is a resource for sharing your passions, links, and comments with your friends!</p>
            <div class="text-center">
                <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
            </div>
        </div>
        <%# Features %>
        <div class="row">
            <div class="col-md-4 text-center features">
                <h2>Post</h2>
                <p>Tell the world what you are passionate about.</p>
             </div>
            <div class="col-md-4 text-center features">
                <h2>Comment</h2>
                <p>Share your opinion.</p>
            </div>
            <div class="col-md-4 text-center features">
                <h2>Get Notified</h2>
                <p>Get updates on the hottest and most active topics.</p>
            </div>
        </div>
    </div>
<% else %>
<%# Render User Profile %>
    <div>
        <%= render partial: 'shared/profile', locals: { user: @user } %>
    </div>
<% end %>