<% if !current_user  %>
<%# Hero Content %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Roccitt</h1>
            <p class="text-center">Roccitt is a resource for sharing links with your friends!</p>
            <div class="text-center">
                <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
            </div>
        </div>
        <%# Selling Points %>
        <div class="row">
            <div class="col-md-4">
                <h2>Solves world hunger</h2>
                <p>Roccitt will deliver food and water to those in need, all over the world.</p>
             </div>
            <div class="col-md-4">
                <h2>Eliminates poverty</h2>
                <p>Roccitt will deliver money and education to those in need, all over the world.</p>
            </div>
            <div class="col-md-4">
                <h2>Makes you better looking</h2>
                <p>Roccitt will make you better looking: it's scientifically proven to make men look like Edris Ilba and women look like Naomi Campbell .</p>
            </div>
        </div>
    </div>
<% else %>
<%# Render User Profile %>
    <div>
        <%= render partial: 'shared/profile', locals: { user: @user } %>
    </div>
<% end %>