// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.user-info-details {
  padding: 8px 0;
}

 // #11
 .gravatar {
   margin-bottom: 5px;
   margin-right: 5px;
 }