 <% if current_user %>
  <div class="vote-arrows pull-left">
  <%#15 %>
    <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
    <div><strong><%= post.points %></strong></div>
  <%#16 %>
    <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
  </div>
  <% end %>